<div class="container">
    <section class="left">
        <img src="../../../../assets/images/woman.svg" width="100%" alt="woman" />
        <p class="size-2 bold dim">Lorem Ipsum</p>
        <p class="size-3 gray">Lorem Ipsum dolor sit amet,<br> consectetur adipisc</p>

    </section>
    <section class="right">
        <p class="size-1">Sign in your EHR <br> account</p>
        <form>
            <input type="text" name="" id="" placeholder="Email" />
            <input type="password" name="" id="" placeholder="Password" />
            <span class="red">Forgot Password?</span>
            <button class="blue" (click)="goToPortal()" type="button">Sign in</button>
            <span class="last gray">Dont have an account? <span class="bold dim">Meet up with IT guy</span></span>
        </form>
    </section>
</div>