// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lawpav-primary: mat.define-palette(mat.$indigo-palette);
$lawpav-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lawpav-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lawpav-theme: mat.define-light-theme(
  (
    color: (
      primary: $lawpav-primary,
      accent: $lawpav-accent,
      warn: $lawpav-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lawpav-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Silka";
  src: url("./assets/fonts/Silka-Regular.ttf");
}

:root {
  --app-font-family-silka: "Silka";
}

body,
table {
  font-family: "Silka";
}
input,
button {
  font-family: "Silka";
}

.bold {
  font-weight: bold;
}
.size-1 {
  font-size: 45px;
}
.size-2 {
  font-size: 30px;
}
.size-3 {
  font-size: 20px;
}
.size-4 {
  font-size: 18px;
}

.gray {
  color: rgba(121, 121, 121, 1);
}
.dim {
  color: rgba(16, 35, 82, 1);
}
.red {
  color: #db3528;
}
.blue {
  color: #2c61e4;
}

.mat-table thead {
  background: #f9f9f9;
  text-transform: uppercase;
  text-align: center;
}
.mat-table tbody {
  color: #727894;
}
.mat-table tbody tr.mat-row {
  height: 65px;
}
.mat-table thead th.mat-header-cell:first-of-type {
  width: 10%;
}
